<div class="main-container">
    <div class="name-container">
        <h1>
            <a class="home-link"
                [routerLink]="['Home']">Luke Engelhardt</a>
        </h1>
        <h4 class="light-text">Full Stack Web Developer | Software Engineer</h4>
    </div>

    <div class="nav-bar">
        <div class="nav-element">
            <a class="nav-link"
               [routerLink]="['AboutMe']">About Me</a>
        </div>
        <div class="nav-element">
            <a class="nav-link"
               [routerLink]="['Development']">Development</a>
        </div>
    </div>

    <hr/>

    <div class="container">
        <router-outlet></router-outlet>
    </div>
</div>
